*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1100px;
     width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 40px;

    @media (max-width: 750px) {
        display: none;
    }

    a{
        text-decoration: none;
        color: #150101;
        font-weight: 700;
        transition: .5s;
        white-space: nowrap;
        &:hover{
            color: #D23166;
        }
    }
}

.btn{
    padding: 14px 50px;
    background-color: #D23166;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.header, .section1{

    background: #fcf1f4;

}

.wrap1{
    display: flex;
    align-items: center;
    
    @media (max-width: 1000px) {
flex-direction: column;
padding-top: 50px;
                
    }

}

.box1{
    h1{
        font-size: 45px;
        font-weight: 700;
@media (max-width: 400px) {
    font-size: 42px;
}
        span{
            color:#D23166;
        }
        
    }

    p{
        margin: 35px 0;
        color: #0F0101;
    }

    @media (max-width: 450px) {
        text-align: center;
    }
}

.img1, .img3{
    @media (max-width: 600px) {
        width: 100%;
    }
}

.card2{
    border: 1px solid lightgray;
    max-width: 200px;
    width: 100%;
    text-align: center;
    padding: 28px 25px;
    border-radius: 7px;

    h3{
        padding: 20px 0;
    }
}

.cards2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
flex-wrap: wrap;

@media (max-width: 600px) {
    align-items: center;
    justify-content: center;
}
}

.section2{
    padding: 100px 0;
}


.section3{
    background: #F8EDF0;
    padding: 50px 0;

}


.wrap3{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1000px) {
            flex-direction: column;
        }
}

.box3{
    max-width: 440px;
    width: 100%;

h2{
font-size: 44px;
}

    p{
        color:#150101;
        padding: 20px 0;
        opacity: 0.5;
    }

    @media (max-width: 450px) {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.section4{

    padding: 140px 0;
    h1{
        text-align: center;
        margin: 64px 0 60px;
        font-size: 45px;
    }
}


.menu4{
    display: flex;
    justify-content: space-between;
    gap: 39px;
    @media (max-width: 100px) {
            align-items: center;
            justify-content: center;
            align-items: center;
        }


    a{
        text-decoration: none;
        font-size: 18px;
        color: grey;
        font-weight: 500;

        span{
       color: #000000;
       text-decoration: 2px underline #D64374;
        }
      
    }
}

.box4{
    display: flex;
    gap: 10px;
}

.box5{
    font-size: 16px;
  line-height: 24px;
  padding: 30px 0;
}

.box6{
    display: flex;
   gap: 14px;

align-items: center;
   
}

.section5{
    display: flex;
    gap: 224px;
    @media (max-width: 1000px) {
            flex-direction: column-reverse;
            flex-wrap: nowrap;
            align-items: center;
            text-align: center;
    
        }
}
.flex5{
    display: flex;
    align-items: center;
    gap: 224px;
    @media (max-width: 1000px) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
}


